@media only screen and (max-width:668px) {
    body {
        width: 100%;
    }
    /* navigation link  */
   /* common */
    .mobile-btn {
        position: absolute;
        top: 50%;
        color: whitesmoke;
        background-color: #03C6C7;
        left: 3px;
        border: 1px solid #C7C11A;
        border-radius: 3px;
        box-shadow: 2px 2px 10px #F7CD2E;
        font-size: 20px;
        font-weight: 700;
        padding: 3px;
    }
    .menu-left:hover .mobile-btn {
        display: none;
    }
    .menu-right:hover .mobile-btn2 {
        display: none;
    }
    /* main body  */
    .main-body {
        display: block;
        padding: 4px;
    }
    .mobile-btn2 {
        position: absolute;
        top: 50%;
        color: whitesmoke;
        background-color: #03C6C7;
        right: 3px;
        border: 1px solid #C7C11A;
        border-radius: 3px;
        box-shadow: 2px 2px 10px #F7CD2E;
        font-size: 20px;
        font-weight: 700;
        padding: 3px;
    }
    /* aside left */
    .menu-left:hover .mobile-left {
        display: block;
        animation: menu-left 0.5s ease-in 1;
        font-weight: 700;
    }
    @keyframes menu-left {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        
    }
    .mobile-left{
        display: none;
    }
    .menu-right,.menu-left {
        background-color: #758283;
    }
    /* aside right; */
    .menu-right:hover .mobile-right {
        display: block;
        background-color: #758283;
        animation: menu-right 0.5s ease-in 1;
    }
    @keyframes menu-right {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .mobile-right {
        display: none;
    }
  .scroll-airticle {
      margin: 65px 20px 20px 5px;
      width: 90%;
      position: static;
  }

  
}
h2::before {
    background-image: url(images/icon/Applications.r.png);
}